<!-- list -->
<ul class="wraplist wrapper-menu">
   
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
        </a>
    </li>

                        <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">live_tv</i>
        <span class="title">Display</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-genres">All Displays</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-genre-edit">Edit Display</a>
            </li>
        </ul>
    </li>



<li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">picture_in_picture</i>
        <span class="title">Campaign</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.uni-courses">All Campaign</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.uni-course-add">Add Campaign</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.uni-course-edit">Edit Campaign</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.uni-course-info">Campaign Info</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">perm_media</i>
        <span class="title">Media</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-media">All Media</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-upload">Upload</a>
            </li>
        </ul>
    </li>
    
                <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">playlist_add</i>
        <span class="title">Playlists</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlists">All Playlists</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlist-add">Add Playlist</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlist-edit">Edit Playlist</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mus-playlist-view">View Playlist</a>
            </li>
        </ul>
    </li>
                        

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">account_box</i>
                                <span class="title">Profile</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.chartjs">View Profile</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.sparkline">Edit Profile</a>
                                </li>
                                <li ui-sref-active="active">
                                 <a ui-sref="access.login">Logout</a>
                                 </li>
                            </ul>
                        </li>
               
          <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Users</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.blo-users">All Users</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-user-add">Add User</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blo-user-edit">Edit User</a>
            </li>
           
        </ul>
    </li>
     <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">group</i>
        <span class="title">Groups</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.soc-groups">All Groups</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-group-add">Add Group</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-group-edit">Edit Group</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.soc-group-view">View Group</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">assignment</i>
        <span class="title">License</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-bids">All Bids</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-bid-add">Add Bid</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-bid-edit">Edit Bid</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">attach_money</i>
        <span class="title">Payment</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoices">All Invoices</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoice-add">Add Invoice</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoice-edit">Edit Invoice</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.frl-invoice-view">View Invoice</a>
            </li>
        </ul>
    </li>
      <li ui-sref-active="active">
        <a ui-sref="app.blo-search" class="nosub">
        <i class="material-icons">help</i>
        <span class="title">Help</span>
        </a>
    </li>
                       
                        
                     



</ul>
<!-- / list -->
